@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=range] {
  appearance: none;
  width: 100%;
  pointer-events: none;
  background-color: transparent;
  position: absolute;
}

input[type=range]::-webkit-slider-thumb {
appearance: none;
height: 30px;
width: 30px;
border-radius: 50%;
background-color: white;
pointer-events: all;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

input[type=range]::-webkit-slider-runnable-track {
  appearance: none;
  height: 5px;
}

.slick-slider {
  position: relative;
}
.slick-slider .slick-arrow {
  position: absolute;
}

.slick-slider .slick-arrow.slick-prev {
  top: 50%;
  transform: translateY(-50%,-50%);
  left: 30px;
  z-index: 10;
}

.slick-slider .slick-arrow.slick-next {
  top: 50%;
  transform: translateY(-50%,-50%);
  right: 30px;
  z-index: 10;
}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}